<div class="jumbotron text-center">
  <h1 class="display-4">Online Video Player</h1>
  <p class="">Welcome to my Dummy Site!! Stream video online....</p>
  <p>
    <a class="btn btn-primary btn-lg" routerLink="/videos" role="button">Watch Our Video List</a>
  </p>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <!--div class="col-md-6">
      <h2>Managing Users</h2>
      <p>
          This site allows you the ability to assign a user one or more roles, and to have different permissions then assigned to each role. By default a user will include values like username, status, etc. Control the permission of user on your own.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Roles</h2>
      <p>Roles enables you to assign specific permissions to a group and to fine-tune the security, use and administration of site and modules. </p>
    </div-->
  </div>

  <hr>

</div> <!-- /container -->
